[submodule "backend"]
	path = backend
	url = https://github.com/itsalfredakku/rust-axum-surreal-boilerplate.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/itsalfredakku/svelte-boilerplate.git
